{% extends "base_2.html" %}

{% block content %}
  <header class="header-2">
    <div class="page-header min-vh-75 relative" style="background-image: url('{{ ASSETS_ROOT }}/img/hero-bg.jpg')">
      <span class="mask bg-gradient-primary opacity-4"></span>
      <div class="container">
        <div class="row">
          <div class="col-lg-7 text-center mx-auto">
            <h1 class="text-white pt-3 mt-n5">Kitchen service</h1>
            <p class="lead text-white mt-3">Fast food restaurant`s kitchen management <br />  </p>
          </div>
        </div>
      </div>
    </div>
  </header>
  <div class="card card-body blur shadow-blur mx-3 mx-md-4 mt-n6">
    <h1>
      {{ dish.name }}
      {% if dish.recipe %}
         <a href="{% url 'kitchen_service:recipe-detail' pk=dish.recipe.id %}" class="btn btn-info link-to-page">
          Recipe
        </a>
      {% else %}
        <a href="{% url 'kitchen_service:recipe-create' %}?dish={{ dish.id }}" class="btn btn-info link-to-page">
          Create Recipe
        </a>
      {% endif %}

    </h1>
    <p>Dish Type: ({{ dish.dish_type.name }})</p>
    <h1>
      Cooks:

      {% if dish in user.dishes.all %}
        <a href="{% url 'kitchen_service:toggle_me_to_dish' pk=dish.id %}" class="btn btn-danger link-to-page">
          I wouldn`t cook this dish
        </a>
      {% else %}
        <a href="{% url 'kitchen_service:toggle_me_to_dish' pk=dish.id %}" class="btn btn-success link-to-page">
          I would cook this dish
        </a>
      {% endif %}

    </h1>
    <hr>
    <ul>
      {% for cook in dish.cooks.all %}
        <li>{{ cook.username }} ({{ cook.first_name }} {{ cook.last_name }})</li>
      {% endfor %}
    </ul>
    <a href="{% url 'kitchen_service:dish-delete' pk=dish.id %}" class="btn btn-danger link-to-page">
        Delete
      </a>

      <a href="{% url 'kitchen_service:dish-update' pk=dish.id %}" class="btn btn-secondary link-to-page">
        Update
      </a>
  </div>
{% endblock %}