{% extends "base.html" %}

{% block content %}
  <h1>
    {{ dish.name }}
     <a href="{% url 'kitchen_service:recipe-detail' pk=dish.recipe.id %}" class="btn btn-secondary link-to-page">
      Recipe
    </a>
  </h1>
  <p>Dish Type: ({{ dish.dish_type.name }})</p>
  <h1>
    Cooks:

    {% if dish in user.dishes.all %}
      <a href="{% url 'kitchen_service:toggle_me_to_dish' pk=dish.id %}" class="btn btn-danger link-to-page">
        I wouldn`t cook this dish
      </a>
    {% else %}
      <a href="{% url 'kitchen_service:toggle_me_to_dish' pk=dish.id %}" class="btn btn-success link-to-page">
        I would cook this dish
      </a>
    {% endif %}

  </h1>
  <hr>
  <ul>
    {% for cook in dish.cooks.all %}
      <li>{{ cook.username }} ({{ cook.first_name }} {{ cook.last_name }})</li>
    {% endfor %}
  </ul>
  <a href="{% url 'kitchen_service:dish-delete' pk=dish.id %}" class="btn btn-danger link-to-page">
      Delete
    </a>

    <a href="{% url 'kitchen_service:dish-update' pk=dish.id %}" class="btn btn-secondary link-to-page">
      Update
    </a>
{% endblock %}